
#heading_01 {
    font-size: 78px;
    line-height: 70px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #091E3F;
}
@media only screen and (min-width: 992px) {
    #prepareForTakeOff {
        width: 50%;
        height: 450px;
        padding-left: 15px;
        padding-top: 190px;
    }
    #introduction {
        display: grid;
        height: 140px;
        width: 70%;
        margin-left: 20px;
        grid-template-columns: auto auto;
    }
    #prepareForTakeOff_video {
        height: 640px;
        width: 50%;

    }
    .flex-container {
        display: flex;
        flex-direction: row;
      }
}
@media only screen and (max-width: 900px) {
    #prepareForTakeOff {
        width: auto;
        height: 450px;
        padding-left: 15px;
        padding-top: 190px;
    }
    #introduction {
        display: grid;
        height: 140px;
        width: 100%;
        margin-left: 20px;
        grid-template-columns: auto auto;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
      }
} 

.intro_text {
    font-size: 20px;
    line-height: 30px;
    color: #606469;
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    border-left: 3px solid #FFD201;
    margin-top: 42px;
    padding-left: 30px;
}

.blueButton {
    width: 250px;
    height: 60px;
    background-color: #0092FF;
    border: 0px solid #0092FF;
    border-radius: 30px;
    margin-top: 81px;
    margin-left: 20px;
    color: white;
    font-size: 17px;
    font-weight: bold;
}


