
body{
    background-color: #044a75;
}
#logo-img{
    width: 225px;
    height: 82px;
}
#logo1{
    width: 21%;
    height: 60px;
    margin-top: 50px;
    margin: auto;
    margin-bottom: 30px;
}
#signUp_body {
    width: 73.4%;
    height: fit-content;
    background-color: white;
    border: 1px solid black;
    margin: auto;
}
.heading_005 {
    color: #091E3F;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
}
.heading_006 {
    color: #3C4858;
    margin-top: 0px;
    font-size: 30px;
    text-align: center;
}
#signUp {
    padding-left: 40px;
    padding-top: 60px;
}

#signUp >p > label {
    font-size: 16px;
    font-weight: bold;
    color: #3C4858;
    font-family: Roboto,sans-serif ;
    
}
#companyName , #emailAdd, #yourPassword {
    margin-top: 5px;
    margin-bottom: 30px;
    height: 36px;
    width: 353px;
    border-radius: 3px;
    border: 1px solid #C0CCDA;
}
#submit01 {
    font-size: 16px;
    background-color: #007CD9;
    color: white;
    border: 0px solid;
    
}
.googleButton{
    border: 1px solid #3C4858;
    background-color: transparent;
    margin-top: 0px;
    position: relative;
    top: -20px;
    right: -34px;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
}
.google_icon {
    width: 25px;
    height: 25px;
    position: relative;
    right: -147px;
    top: -12px;
}
.or {
    position: relative;
    top: -8px;
    right: 0px;
}
#googleSign {
    padding-bottom: 30px;
    
}
.submit1 {
    height: 40px;
    width: 360px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 32px;
}
#yourPassword {
    margin-bottom: 10px;
}
.first_icon {
    margin-top: 40px;
    width: 25px;
    height: 20px;
    border-radius: 50%;
}
.icons001 {
    width: 30px;
    height: 25px;
    border-radius: 50%;
    
}
.gdpr {
    border-bottom: 2px dotted;
}
.firstText {
    margin-top: 40px;
}
#flex_body {
    display: flex;
    flex-direction: row;
}
#details_signUp {
    padding-left: 77px;
    padding-top: 30px;
}
.customerSupport {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-left: -10px;
}
.texts {
    margin-left: 20px;
    font-size: 16px;
    font-family: Roboto,sans-serif;
    color: #3C4858;
}
.line_01,.line_02{
    width: 150px;
    height: 1px;
    background-color: #69727e;
}
.googleSign {
    margin-top: 10px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
}
.google_div {
    position: relative;
    left: -63px;
    bottom: -20px;
}
#desc-text {
    margin-top: 85px;
    margin-left: -10px;
    width: 94%;
}
.cyan {
    color: #1892FF;
}
#bottom_link {
    width: 20%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.linkUnderline {
    color: #007CD9;
    text-decoration: underline;
    font-size: 18px;
}
.link {
    color: white;
    font-size: 18px;
}
@media only screen and (max-width: 992px) {
    #flex_body {
        display: flex;
        flex-direction: column;
    }
    #signUp {
        margin: auto;
    }
    #details_signUp {
        margin: auto;
    }
    #bottom_link {
        width: 30%;
        margin: auto;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #desc-text {
        padding-bottom: 40px;
    }
} 